

/* Жалпы фон және шрифт */
body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d; 
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Навбар */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1a1a1a; 
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #444;
  z-index: 999;
}

.navbar a {
  color: #b388ff; 
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #e0b3ff;
}

/* Бөлімдер */
.section {
  padding: 20px;
  margin-bottom: 70px; 
}

/* Батырма */
button {
  background-color: #7e57c2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9575cd;
}


input {
  background-color: #2e2e2e;
  color: white;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

input::placeholder {
  color: #999;
}


.card {
  background-color: #1f1f1f;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(179, 136, 255, 0.2);
}


.message {
  background-color: #3e2f5b;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px 0;
  max-width: 70%;
}


.message.right {
  background-color: #7e57c2;
  margin-left: auto;
}


.message.left {
  background-color: #4a148c;
  margin-right: auto;
}













.footer {
  background-color: #222;
  color: white;
  padding: 20px 40px;
}

.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Сол жақ */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-left h1 {
  font-size: 28px;
  margin: 0;
}

.follow-btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.footer-copy {
  font-size: 14px;

}

.footer-copy span {
  color: purple;
}

/* Оң жақ */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-links {
  display: flex;
  gap: 25px;
}

.footer-links img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 8px;
}

.footer-links h4 {
  display: flex;
  align-items: center;
  font-size: 16px;
}
