



.home {
  padding: 20px;
  color: var(--text-color);
}

.home-section {
  margin-bottom: 40px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: var(--card-bg);
  padding: 10px;
  border-radius: 12px;
  width: 150px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
  height: 100px;
  object-fit: cover;
}

button {
  background: transparent;
  border: 1px solid var(--text-color);
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--text-color);
}

button:hover {
  background: var(--text-color);
  color: var(--bg-color);
}
