.music-wrapper {
  background-color: #121212;
  color: white;
  padding: 30px;
}

.music-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.music-card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  transition: 0.3s;
}

.music-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px #ff0000;
}

.music-card p {
  font-size: 16px;
  color: white;
}
